body {
    font-family: "Calibri";
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

main{
    margin: 0px 20px;
}

header{
    background-color: #347c5f;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 0px 30px;
}

nav{
    gap:100px;

}

.marca{
    display: flex;
    align-items: center; 
    justify-content: left;
    flex-direction: row;
}